---
import Layout from '../layouts/Page.astro';
---

<Layout
	title="Talks & Videos"
	description="A collection of my talks and videos on AI, ML, and computer vision"
>
	<h1>Youtube</h1>

	<p>
		Check out my <a href="https://www.youtube.com/@jerpint/videos" target="_blank">YouTube channel</a> for my latest videos.
	</p>

	<div class="video-container">
		<iframe src="https://www.youtube.com/embed/WtMrp2hp94E?si=FJJ2c0RKvoXjiKW9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</div>

	<h1>Talks</h1>

	<p>
		Below are a series of talks I've given over the years on the topic of AI and ML that aren't on my channel.
	</p>

	<h2>Code With me 2022</h2>
	<p>
		Intro to computer vision talk given to high school students of the <a href="https://www.technovationmontreal.com/code-with-me" target="_blank">codewithme</a> program.
	</p>
	<div class="video-container">
		<iframe src="https://www.youtube.com/embed/Ypm5jkOMc8c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<p>
		<a href="https://docs.google.com/presentation/d/1TaHL3dXjZlSgcQRsgNCh5WldheEXowjAFl6KeIaCpDM/edit?usp=sharing" target="_blank">slides</a>
		<a href="https://colab.research.google.com/drive/1RjuOTDSlxnxKDu-tfV4O5ii_SJANjD8_?usp=sharing" target="_blank">colab</a>
	</p>

	<h2>PolyAI 2021</h2>
	<p>
		Intro to AI talk given to the PolyAI student committee:
		<a href="https://docs.google.com/presentation/d/1XB9zHms25FK6L7VckFr0Y5kreTVJi5XDGwj3IWUOjPI/edit#slide=id.p" target="_blank">slides</a>
	</p>
	<div class="video-container">
		<iframe src="https://www.youtube.com/embed/cbk6gXr6ry4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<h2>Voice-based gender identification using CNNs</h2>
	<div class="video-container">
		<iframe src="https://www.youtube.com/embed/Q9M9nrgbPxw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<h2>Deep Learning Essentials (MOOC)</h2>
	<p>
		<a href="https://www.edx.org/course/deep-learning-essentials" target="_blank">Link to full course</a>
	</p>

	<div class="video-container">
		<iframe src="https://www.youtube.com/embed/PG9AQ8ovz7w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</Layout>
